<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="NOMO"  verbose="5" preserve-order="true" >
	<parameter name="browserType" value="Chrome" />
	<parameter name="url" value="https://www.nomobank.com/" />

	<test name="NOMO Tests">
		<classes>
			<class name="com.NOMO.angularAutomation.tests.PropertyFinanceFunctionalityTest" />

		</classes>
	</test>


</suite>